.modal {
    padding: 1rem;
}

.contentGrid {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

:global(.modalWidthOverride) {
  max-width: 900px !important;
  width: 100%;
}

:global(.modalBodyScrollable) {
  max-height: 80vh;
  overflow-y: auto;
}

.userInfo {
  flex: 1;
  min-width: 250px;
}

.todoHeader {
  padding-bottom: 1rem;

}

.todos {
  flex: 1;
  min-width: 250px;

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;

      input[type='checkbox'] {
        margin-right: 0.5rem;
      }
    }
  }
}

